/* https://coolors.co/4ce0b3-30bced-235789-100b00-020202 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background: #020202;
}

@keyframes blockyLoad {
  0% {
    transform: scale(0.05);
    opacity: 0.5;
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    border-radius: 0;
  }
}
